html
	head
		title jade
		link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
		link(rel='stylesheet', href='./css/index.css')
	body
		div(class="w3-container")
		
			header(class="w3-container w3-teal")
				h1(class="w3-center") Header
			
				p The w3-container class is an important w3.CSS class.
				
				button(class="tablink", onclick="openPage('bbs', this, 'red')") Home
				button(class="tablink", onclick="openPage('temp', this, 'green')", id="defaultOpen") News
				button(class="tablink", onclick="openPage('Home', this, 'blue')") Contact
				button(class="tablink", onclick="openPage('Home', this, 'orange')") About

			div(id="Home" class="tabcontent")
				//h3 Home
				//p Home is where the heart is..
				!{contents}

			div(id="News" class="tabcontent")
				h3 News
				p Some news this fine day!

			div(id="Contact" class="tabcontent")
				h3 Contact
				p Get in touch, or swing by for a cup of coffee.

			div(id="About" class="tabcontent")
				h3 About
				p Who we are and what we do.
			
			p 공지 게시판 일정 소개
		script(src='./js/index.js')
		